<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ru"> <!--<![endif]-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<head th:replace="~{fragments/head_fragment :: headFragment (pageName=#{topbar.news})}"></head>
<body class="Site">
<!--if lt IE 8
p.error-browser
    | Ваш браузер&nbsp;
    em устарел!&nbsp;
    a(href="http://browsehappy.com/") Выберите новую версию
        +s
        | браузера здесь&nbsp;
    | для правильного отображения сайта.
-->
<header th:replace="~{/fragments/header_fragment::headFragment}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs" th:replace="~{fragments/middle_menu :: middle_menu (pageName='')}">
            </ul>
            <div class="Product">
                <div class="ProductCard">
                    <div class="ProductCard-look">
                        <form id="imgForm" method="POST" enctype="multipart/form-data" action="#"
                              th:action="${'/books/' + slugBook.slug + '/img/save'}">
                            <div class="ProductCard-photo" id="uploadButton"><img th:src="${slugBook.image}"
                                                                                  src="/assets/img/content/main/card.jpg"
                                                                                  alt="card.jpg"/>
                            </div>
                            <input type="file" name="file" id="dialog" style="display: none" accept="image/*">
                        </form>
                    </div>
                    <div class="ProductCard-desc">
                        <div class="ProductCard-header">
                            <h1 class="ProductCard-title" th:text="${slugBook.title}">Мара и морок
                            </h1>
                            <div class="ProductCard-author"><span class="ProductCard-titleProp">Автор:</span>&#32;
                                <a th:href="${'/authors/slug/' + slugBook.author.getId()}" href="#"
                                   th:text="${slugBook.author.toString()}">Лия Арден</a>
                            </div>
                            <div class="ProductCard-rating">
                                <span class="ProductCard-titleProp" th:text="#{slug.rating}">Рейтинг:</span>
                                <button class="trigger trigger_dropdown" type="button">
                                    <div
                                            class="Rating Rating_noStyleLink"
                                            th:replace="~{fragments/rating_fragment :: ratingStars(${ratingTotalAndAvg.getAverage()}
                                            , ${ratingTotalAndAvg.getTotal()})}"
                                    >
                                    </div>
                                    <div th:replace="~{fragments/rating_fragment :: ratingsModal(${rating})}"></div>
                                </button>
                            </div>

                            <div class="ProductCard-assessment">
                                <span class="ProductCard-titleProp">Оцените книгу:</span>
                                <span class="Rating Rating_input" data-bookid="2121">
                                <span class="Rating-stars">
                                  <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                                  <input name="rating" type="radio" value="1" th:data-bookid="${slugBook.slug}"/>
                                  <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                                  <input name="rating" type="radio" value="2" th:data-bookid="${slugBook.slug}"/>
                                  <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                                  <input name="rating" type="radio" value="3" th:data-bookid="${slugBook.slug}"/>
                                  <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                                  <input name="rating" type="radio" value="4" th:data-bookid="${slugBook.slug}"/>
                                  <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                                  <input name="rating" type="radio" value="5" th:data-bookid="${slugBook.slug}"/>
                                </span>
                              </span>
                            </div>
                            <div class="ProductCard-tags">
                                <span class="ProductCard-titleProp">Тэги:</span>
                                <!--                                https://www.baeldung.com/thymeleaf-iteration-->
                                <span th:each="tag, iStat :${slugBook.tagList}">
                                    <a th:text="${tag.name}" th:href="${'/tags/' + tag.id}"
                                       href="/tags/">Современные</a>
                                    <span th:if="${!iStat.last}">,&#32;</span>
                                </span>
                                </span>
                            </div>
                            <div class="ProductCard-cost"><span class="ProductCard-titleProp"
                            >Цена:</span><span
                                    class="ProductCard-priceOld" th:text="${slugBook.priceOld}">₽300</span><span
                                    class="ProductCard-price"
                                    th:text="${slugBook.discountPrice()}">₽180</span>
                            </div>
                            <!--+div.-info
                            //+div.-cost
                            //    +div.-price $55.00
                            //    +div.-priceOld $115.00
                            //+div.-compare
                            //    +btn._default
                            //        +img('change.svg','icons/card').-icon
                            -->
                        </div>
                        <div class="ProductCard-text">
                            <p th:text="${slugBook.description}">
                            </p>
                        </div>
                        <div class="ProductCard-cart">
                            <!--+div.-cartElement.-cartElement_amount-->
                            <!--    +Amount._product-->
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1111]"
                                        th:attr="data-bookid = ${'postpone/' + slugBook.slug}"
                                        data-btntype="check" data-btnradio="buyblock" data-check="false"
                                        data-alttext="Отложена"><span class="btn-icon"><img
                                        src="/assets/img/icons/heart.svg" alt="heart.svg"/></span><span
                                        class="btn-content">Отложить</span>
                                </button>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-sendstatus="CART" data-bookid="[1111]"
                                        th:attr="data-bookid = ${slugBook.slug}" data-btntype="check"
                                        data-btnradio="buyblock"
                                        data-check="false"
                                        data-alttext="В корзине"><span class="btn-icon"><img
                                        src="/assets/img/icons/shopping-basket.svg"
                                        alt="shopping-basket.svg"/></span><span class="btn-content">Купить</span>
                                </button>
                            </div>
                        </div>
                        <div class="ProductCard-cart">
                            <!--+div.-cartElement.-cartElement_amount-->
                            <!--    +Amount._product-->
                            <div class="ProductCard-cartElement"><a class="btn btn_primary btn_outline" href="#"><span
                                    class="btn-icon"><img src="/assets/img/icons/download.svg"
                                                          alt="download.svg"/></span><span
                                    class="btn-content">Скачать демо</span></a>
                            </div>
                            <div class="ProductCard-cartElement">
                                <button class="btn btn_primary btn_outline" data-sendstatus="ARCHIVED"
                                        th:attr="data-bookid = ${'archive/' + slugBook.slug}"
                                        data-bookid="[1111]" data-btntype="check" data-btnradio="buyblock"
                                        data-check="false" data-alttext="Вернуть из архива"><span class="btn-icon"><img
                                        src="/assets/img/icons/archive.svg" alt="archive.svg"/></span><span
                                        class="btn-content">В архив</span>
                                </button>
                                <errors style="color:#eeb41d" th:utext="${errorArchive}"></errors>
                            </div>
                        </div>

                        <div id="myPopup">
                            <p>Ссылки для скачивания</p>
                            <div th:each="bookFile : ${slugBook.getBookFileList()}">
                                <a href="#" th:href="${'/books/download/' + bookFile.hash}"
                                   th:text="${bookFile.getBookFileExtensionString()}"></a>
                            </div>
                            <span id="myPopup__close" class="close">❎</span>
                        </div>
                        <div id="myOverlay"></div>
                        <!--+div.-cart-->
                        <!--    //+div.-cartElement.-cartElement_amount-->
                        <!--    //    +Amount._product-->
                        <!--    +div.-cartElement-->
                        <!--        +btn('button')(data-sendstatus='UNLINK' data-bookid="[1111]")._muted Вернуть из архива-->
                    </div>
                </div>
                <form sec:authorize="isAuthenticated()" th:action="${'/books/addReview/' + slugBook.slug }"
                      method="post"
                      oninput="daysoutput.value=dayscount.value">
                    <fieldset>
                        <label for="reviewText">Текст отзыва</label>
                        <textarea id="reviewText" rows="5" name="reviewText" required></textarea><br><br>
                        <!-- поле обязательно для заполнения -->
                    </fieldset>
                    <span class="Rating Rating_input">
                    <span class="Rating-stars">
                      <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                      <input name="ratingReview" type="radio" value="1">
                      <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                      <input name="ratingReview" type="radio" value="2">
                      <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                      <input name="ratingReview" type="radio" value="3">
                      <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                      <input name="ratingReview" type="radio" value="4">
                      <span th:replace="~{fragments/rating_fragment :: star (false)}"></span>
                      <input name="ratingReview" type="radio" value="5" id="ratingReview5">
                    </span></span></span>
                    <div class="buttons">
                        <input type="submit" value="Добавить отзыв" id="addReview">
                        <input type="reset" value="Сбросить">
                    </div>
                </form>
                <H2 sec:authorize="!isAuthenticated()"> Чтобы оставить отзыв или поставить свою оценку для комментария авторизуйтесь</H2>
                <span></span>
                <div class="Product-comments">
                    <div class="Product-comments-header">
                        <h3 class="Product-comments-title">Отзывы
                        </h3><span class="Product-comments-amount" th:text="${slugBook.bookReviewList.size()}">567 отзывов</span>
                    </div>
                </div>
                <div class="Comments">
                    <div class="Comment" th:each="review : ${slugBook.bookReviewList}">
                        <div class="Comment-column Comment-column_pict">
                            <div class="Comment-avatar">
                            </div>
                        </div>
                        <div class="Comment-column">
                            <header class="Comment-header">
                                <div>
                                    <strong class="Comment-title"><span th:text="${review.getUserName()}"></span><span
                                            class="Comment-rating"><span
                                            class="Rating Rating_comment">
                                         <span class="Rating-stars"
                                               th:replace="~{fragments/rating_fragment :: ratingStars(${review.getRating()}, '')}">
                                             </svg></span></span></span></span>
                                    </strong><span class="Comment-date"
                                                   th:text="${#dates.format(review.time, 'hh:mm dd.MM.yyyy')}"></span>
                                </div>
                            </header>
                            <div class="Comment-content">
                                <div class="Spoiler">
                                    <div class="Spoiler-visible">
                                        <p th:text="${review.text}"></p>
                                    </div>
                                    <div class="Spoiler-hide">
                                        <p></p>
                                    </div>
                                    <div class="Comment-footer">
                                        <div class="Comment-appeal">
                                            <button   class="btn btn_white btn_like" data-btntype="check"
                                                    data-check="false" data-btnradio="one1" data-likeid="333"
                                                      th:attr="data-bookslug = ${slugBook.slug}, data-likeid = ${review.id}">
                                                <span
                                                        class="btn-icon">
                                                <img src="/assets/img/icons/comment/like.svg"
                                                     alt="like.svg"/>
                                                </span>
                                                <span
                                                        class="btn-content" th:text="${review.getLikeCount()}">500</span>
                                            </button>
                                            <button class="btn btn_white btn_dislike" data-btntype="check"
                                                    data-check="false" data-btnradio="one1" data-likeid="333"
                                                    th:attr="data-bookslug = ${slugBook.slug}, data-likeid = ${review.id}">
                                                <span
                                                        class="btn-icon">
                                                <img src="/assets/img/icons/comment/dislike.svg"
                                                     alt="dislike.svg"/>
                                                 </span>
                                                <span
                                                        class="btn-content" th:text="${review.getDisLikeCount()}">50
                                                </span>
                                            </button>
                                        </div>
                                        <!--                                        <button class="Spoiler-trigger btn btn_primary btn_nr" type="button"-->
                                        <!--                                                data-showtext="Свернуть отзыв" data-hidetext="Показать отзыв полностью">-->
                                        <!--                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<footer th:replace="~{fragments/footer_fragment::footerFragment}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
<script src="/assets/js/DownloadBookWindowScript.js"></script>
<script src="/assets/js/UploadNewBookImageScript.js"></script>
</body>
</html>